<launch>

<include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />
<include file="$(find flexbe_app)/launch/flexbe_ocs.launch">
	<arg name = "no_app" value = "false"/>
</include>
<node
name="serial_node"    
pkg="rosserial_python"    
type="serial_node.py">

<param name="port" type="string" value="/dev/ttyACM0"/>

<param name="baud" type="int" value="57600"/>

</node>


</launch>

