*.ipynb_checkpoints
src/logs/
src/wandb/



# Byte-compiled / optimized / DLL files
src/__pycache__/
*.py[cod]

# C extensions
*.so

.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Translations
*.mo
*.pot

# log stuff:
*.log

*MUJOCO_LOG.TXT
*.zip
